program: src/training/models/train_transformer.py
method: bayes
metric:
  name: val_loss
  goal: minimize

parameters:
  config:
    value: transformer_baseline.yml

  model.use_rope:
    value: True

  model.d_model:
    values: [64, 128]

  model.num_blocks:
    values: [4, 6]

  model.num_heads:
    values: [4, 8]

#  model.seq_len:
#    values: [128, 256]

  model.ff_hidden_dim:
    values: [128, 256]

  model.max_iter:
    values: [8000]

#  model.dropout:
#    distribution: uniform
#    min: 0.05
#    max: 0.25
#
#  training.learning_rate:
#    distribution: log_uniform_values
#    min: 0.0001
#    max: 0.001
#
#  training.batch_size:
#    values: [32, 64]
#
#  training.warmup_iters:
#    values: [200, 500, 1000]
#
#  training.weight_decay:
#    distribution: log_uniform_values
#    min: 0.0
#    max: 0.1

early_terminate:
  type: hyperband
  min_iter: 500
  max_iter: 5000
  eta: 3