repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy . --exclude activate/
        language: system
        pass_filenames: false
        stages: [pre-push]

      - id: test
        name: tests
        entry: make test
        language: system
        pass_filenames: false
        stages: [pre-push]