model:
  type: transformer
  d_model: 128
  num_heads: 1
  num_blocks: 1
  seq_len: 32
  dropout: 0.1

tokenizer:
  type: bpe_hugging_face

training:
  batch_size: 8
  learning_rate: 0.0001
  weight_decay: 0.0
  max_iters: 3000
  eval_interval: 250
  eval_iters: 20
  warmup_iters: 0

data:
  train_size: 0.8
  val_size: 0.1
  test_size: 0.1
  file: letterboxd_filtered_short_synopsis_film.jsonl
  seed: 42

