model:
  type: transformer
  d_model: 256
  num_heads: 8
  num_blocks: 6
  seq_len: 256
  dropout: 0.1

tokenizer:
  type: bpe_hugging_face

training:
  batch_size: 64
  learning_rate: 0.0001
  weight_decay: 0.001
  max_iters: 9000
  eval_interval: 250
  eval_iters: 30
  warmup_iters: 500

data:
  train_size: 0.8
  val_size: 0.1
  test_size: 0.1
  file: letterboxd_filtered_short_synopsis_film.jsonl
  seed: 42

